<div class="container" ng-controller="BookHotelController" style="height:600px; overflow:auto;">
    <div class="row" style="height:600px; overflow:auto;">
        <div class="col-md-8">
            <h3>Customer</h3>
            <!--<p>Sign in to your <a href="#">Traveler account</a> for fast booking.</p>-->
            <form>
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>First Name</label>
                            <input class="form-control" type="text" ng-model="booking.firstName" />
                        </div>
                        <div class="form-group">
                            <label>Last Name</label>
                            <input class="form-control" type="text" ng-model="booking.lastName" />
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Phone Number</label>
                            <input class="form-control" type="text" ng-model="booking.homePhone"/>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>E-mail</label>
                            <input class="form-control" type="text" ng-model="booking.email"/>
                        </div>
                    </div>
                </div>
                <!--<div class="checkbox">-->
                    <!--<label>-->
                        <!--<input class="i-check" type="checkbox" checked/>Create Traveler account <small>(password will be send to your e-mail)</small>-->
                    <!--</label>-->
                <!--</div>-->
            </form>
            <hr>
            <div class="row">
                <!--<div class="col-md-6">-->
                    <!--<img class="pp-img" src="img/paypal.png" alt="Image Alternative text" title="Image Title" />-->
                    <!--<p>Important: You will be redirected to PayPal's website to securely complete your payment.</p><a class="btn btn-primary">Checkout via Paypal</a>-->
                <!--</div>-->

                <div class="col-md-6">
                    <h4>Pay via Credit/Debit Card</h4>
                    <form class="cc-form">
                        <div class="clearfix">
                            <div class="form-group form-group-cc-number">
                                <label>Card Number</label>
                                <input class="form-control" placeholder="xxxx xxxx xxxx xxxx" type="text" ng-model="booking.cardNumber" ng-value="5401999999999999"/><span class="cc-card-icon"></span>
                            </div>
                            <div class="form-group form-group-cc-cvc">
                                <label>CVC</label>
                                <input class="form-control" placeholder="xxxx" type="text" ng-model="booking.cvv" ng-value="123"/>
                            </div>
                        </div>
                        <div class="clearfix">
                            <div class="form-group form-group-cc-name">
                                <label>Cardholder Name</label>
                                <input class="form-control" type="text" ng-model="booking.cardHolderName" ng-value="Narcis Matei"/>
                            </div>
                            <div class="form-group form-group-cc-date">
                                <label>Valid Thru</label>
                                <input class="form-control" placeholder="mm/yy" type="text" ng-model="booking.expirationDate" ng-value="08/2018"/>
                            </div>
                        </div>
                        <!--<div class="checkbox checkbox-small">-->
                            <!--<label>-->
                                <!--<input class="i-check" type="checkbox" checked/>Add to My Cards</label>-->
                        <!--</div>-->
                        <input class="btn btn-primary" type="submit" value="Book" ng-click="makeBooking()" />
                    </form>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="booking-item-payment">
                <header class="clearfix">
                    <a class="booking-item-payment-img" href="#">
                        <img src="{{Room.RoomImages.RoomImage.url}}" alt="Image Alternative text" title="hotel 1" />
                    </a>
                    <h5 class="booking-item-payment-title"><a href="#">{{Room.hotelName}}</a></h5>
                    <ul class="icon-group booking-item-rating-stars">
                        <li><i class="fa fa-star"></i>
                        </li>
                        <li><i class="fa fa-star"></i>
                        </li>
                        <li><i class="fa fa-star"></i>
                        </li>
                        <li><i class="fa fa-star"></i>
                        </li>
                        <li><i class="fa fa-star"></i>
                        </li>
                    </ul>
                </header>
                <ul class="booking-item-payment-details">
                    <li>
                        <h5>Booking for {{getNrOfNights()}} nights</h5>
                        <div class="booking-item-payment-date">
                            <p class="booking-item-payment-date-day">{{formatedArrivalDate()}}</p>
                            <!--<p class="booking-item-payment-date-weekday">Saturday</p>-->
                        </div><i class="fa fa-arrow-right booking-item-payment-date-separator"></i>
                        <div class="booking-item-payment-date">
                            <p class="booking-item-payment-date-day">{{formatedDepartuDate()}}</p>
                            <!--<p class="booking-item-payment-date-weekday">Saturday</p>-->
                        </div>
                    </li>
                    <li>
                        <h5>Room</h5>
                        <p class="booking-item-payment-item-title">{{Room.roomTypeDescription}}</p>
                        <ul class="booking-item-payment-price">
                            <li>
                                <p class="booking-item-payment-price-title">{{getNrOfNights()}} Nights</p>
                                <p class="booking-item-payment-price-amount">${{Room.RateInfo.ChargeableRateInfo["@averageRate"]}}<small>/per day</small>
                                </p>
                            </li>
                            <li>
                                <p class="booking-item-payment-price-title">Taxes</p>
                                <p class="booking-item-payment-price-amount">${{Room.taxRate}}<small>/per day</small>
                                </p>
                            </li>
                        </ul>
                    </li>
                </ul>
                <p class="booking-item-payment-total">Total trip: <span>${{Room.RateInfo.ChargeableRateInfo["@total"]}}</span>
                </p>
            </div>
        </div>
    </div>
    <div class="gap"></div>
</div>