<div class="container" ng-controller="HotelInfoController" style="height: 700px; overflow: auto;">

        <carousel interval="5000" style="height: 350px;">
            <slide ng-repeat="image in Images" active="slide.active">
                <img ng-src="{{image.url}}" style="margin:auto;">
                <div class="carousel-caption">
                    <p>{{image.caption}}</p>
                </div>
            </slide>
        </carousel>
<br>
    <div id="map_canvas" class="col-sm-6">
        <ui-gmap-google-map center="map.center" zoom="map.zoom" draggable="true">

        </ui-gmap-google-map>
    </div>
    <div class="col-sm-6">
        <article ng-bind-html="HotelInfo.propertyDescription"></article>
    </div>

    <div class="gap"></div>
    <h3>Available Rooms</h3>
    <div class="row">
        <div class="col-md-9">

            <div class="gap gap-small"></div>
            <ul class="booking-list">
                <li>
                    <a class="booking-item">
                        <div class="row">
                            <div class="col-md-3">
                                <img src="img/the_pool_800x600.jpg" alt="Image Alternative text" title="The pool" />
                            </div>
                            <div class="col-md-6">
                                <h5 class="booking-item-title">Family Suite</h5>
                                <p class="text-small">Sit cras diam nec morbi erat mi at quam consectetur praesent litora mauris</p>
                                <ul class="booking-item-features booking-item-features-sign clearfix">
                                    <li rel="tooltip" data-placement="top" title="Adults Occupancy"><i class="fa fa-male"></i><span class="booking-item-feature-sign">x 3</span>
                                    </li>
                                    <li rel="tooltip" data-placement="top" title="Beds"><i class="im im-bed"></i><span class="booking-item-feature-sign">x 1</span>
                                    </li>
                                    <li rel="tooltip" data-placement="top" title="Room footage (square feet)"><i class="im im-width"></i><span class="booking-item-feature-sign">450</span>
                                    </li>
                                </ul>
                                <!--<ul class="booking-item-features booking-item-features-small clearfix">
                                    <li rel="tooltip" data-placement="top" title="Air Conditioning"><i class="im im-air"></i>
                                    </li>
                                    <li rel="tooltip" data-placement="top" title="Flat Screen TV"><i class="im im-tv"></i>
                                    </li>
                                    <li rel="tooltip" data-placement="top" title="Mini Bar"><i class="im im-bar"></i>
                                    </li>
                                    <li rel="tooltip" data-placement="top" title="Kitchen"><i class="im im-kitchen"></i>
                                    </li>
                                    <li rel="tooltip" data-placement="top" title="SPA tub"><i class="im im-spa"></i>
                                    </li>
                                    <li rel="tooltip" data-placement="top" title="Terrace"><i class="im im-terrace"></i>
                                    </li>
                                    <li rel="tooltip" data-placement="top" title="Washing Machine"><i class="im im-washing-machine"></i>
                                    </li>
                                    <li rel="tooltip" data-placement="top" title="Pool"><i class="im im-pool"></i>
                                    </li>
                                </ul>-->
                            </div>
                            <div class="col-md-3"><span class="booking-item-price">$251</span><span>/night</span><span class="btn btn-primary">Book</span>
                            </div>
                        </div>
                    </a>
                </li>
            </ul>
        </div>

    </div>

</div>
<div class="gap gap-small"></div>
    <!--<ul>-->
        <!--<li ng-repeat="image in Images">-->
            <!--<a ng-click="openLightboxModal($index)">-->
                <!--<img ng-src="{{image.thumbnailUrl}}" class="img-thumbnail">-->
            <!--</a>-->
        <!--</li>-->
    <!--</ul>-->

</div>

