<div class="container" ng-controller="SearchHotelController">
    <form class="form-horizontal">
        <div class="form-group">

            <input type="text" class="form-control" id="destination" placeholder="Going to" ng-model="selectedAddress" data-animation="am-flip-x"
                   ng-options="address.formatted_address as address.formatted_address for address in getAddress($viewValue)"
                   placeholder="Enter location" bs-typeahead value="London, UK">
        </div>
        <div class="form-group">
            <div class="control-group">
                <div class="controls">
                    <div class="input-prepend input-group">
                        <span class="add-on input-group-addon"><i class="glyphicon glyphicon-calendar fa fa-calendar"></i></span><input style="width: 200px;" date-range-picker class="form-control date-picker" type="text" ng-model="date" />
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-default" ng-click="getHotels()">Submit</button>
        </div>
    </form>
</div>