<div class="container" ng-controller="HotelListController" style="overflow: auto;height: 500px;">

    <div class="col-md-9" >

        <ul class="booking-list" >
            <li  ng-repeat="hotel in HotelsList track by $index">
                <a class="booking-item" href="#" ng-click="getHotelInfo(hotel.hotelId)">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="booking-item-img-wrap">
                                <img src="http://images.travelnow.com{{getPicture(hotel.thumbNailUrl)}}" alt="Image Alternative text" title={{hotel.name}} />
                                <!--<div class="booking-item-img-num"><i class="fa fa-picture-o"></i>27</div>-->
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="booking-item-rating">
                                <ul class="icon-group booking-item-rating-stars" >
                                    <li ng-repeat="i in getStars(hotel.hotelRating) track by $index"><i class="fa fa-star"></i>
                                    </li>
                                </ul>
                                <!--</ul><span class="booking-item-rating-number"><b >3.7</b> of 5</span><small>(250 reviews)</small>-->
                            </div>
                            <h5 class="booking-item-title">{{hotel.name}}</h5>
                            <p class="booking-item-address"><i class="fa fa-map-marker"></i> {{hotel.locationDescription}}</p>
                        </div>
                        <div class="col-md-3"><span class="booking-item-price-from">from</span><span class="booking-item-price">{{getMinRate(hotel)}}</span><span>/night</span><span class="btn btn-primary">Book Now</span>
                        </div>
                    </div>
                </a>
            </li>

        </ul>
    </div>
</div>

