<div class="container" ng-controller="RoomAvailController" style="height: 700px; overflow: auto;">

    <div class="gap"></div>
    <h3>Available Rooms</h3>
    <div class="row">
        <div class="col-md-12">

            <div class="gap gap-small"></div>
            <ul class="booking-list">
                <li ng-repeat="room in RoomsList track by $index">
                    <a class="booking-item" href="#" ng-click="bookHotel(room)">
                        <div class="row" >
                            <div class="col-md-3">
                                <img src="{{room.RoomImages.RoomImage.url}}" alt="Image Alternative text" />
                            </div>
                            <div class="col-md-6">
                                <h5 class="booking-item-title">{{room.rateDescription}}</h5>
                                <p class="text-small">{{room.roomTypeDescription}}</p>
                                <ul class="booking-item-features booking-item-features-sign clearfix">
                                    <li rel="tooltip" data-placement="top" title="Adults Occupancy"><i class="fa fa-male"></i><span class="booking-item-feature-sign">{{room.rateOccupancyPerRoom}}</span>
                                    </li>
                                    <li rel="tooltip" data-placement="top" title="Beds"><i class="im im-bed"></i><span class="booking-item-feature-sign">{{roo.BedTypes.size}}</span>
                                    </li>
                                    <li rel="tooltip" data-placement="top" title="Room footage (square feet)"><i class="im im-width"></i><span class="booking-item-feature-sign">450</span>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-md-3"><span class="booking-item-price">${{room.RateInfo.ChargeableRateInfo["@total"]}}</span><span>/total</span><span class="btn btn-primary">Book</span>
                            </div>
                        </div>
                    </a>
                </li>
            </ul>
        </div>

    </div>

</div>
<div class="gap gap-small"></div>

</div>

