<div class="container" ng-controller="SuccessPaymentController">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <i class="fa fa-check round box-icon-large box-icon-center box-icon-success mb30"></i>
            <h2 class="text-center">{{Booking.firstName}}, your payment was successful!</h2>
            <h5 class="text-center mb30">Booking details has been send to {{Booking.email}}</h5>
            <ul class="order-payment-list list mb30">
                <li>
                    <div class="row">
                        <div class="col-xs-9">
                            <h5><i class="fa fa-hotel"></i>{{Booking.hotelName}}</h5>

                            </p>
                        </div>
                        <div class="col-xs-3">
                            <p class="text-right"><span class="text-lg">${{Booking.chargeableRate}}</span>
                            </p>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="gap"></div>
</div>

</div>