@*<script src="http://maps.google.com/maps/api/js?sensor=false"></script>*@
@*<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>*@

@*<!-- Latest compiled and minified JavaScript -->*@
@*<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>*@

<script src="//cdn.jsdelivr.net/angularjs/1.3.15/angular.js" data-semver="1.3.15"></script>
<script src="//cdn.jsdelivr.net/angularjs/1.3.15/angular-animate.min.js" data-semver="1.3.15"></script>
<script src="//cdn.jsdelivr.net/angularjs/1.3.15/angular-sanitize.min.js" data-semver="1.3.15"></script>
<script src="//cdn.jsdelivr.net/angularjs/1.3.15/angular-route.min.js" data-semver="1.3.15"></script>

@*<script type='text/javascript' src=@routes.Assets.at("bower/bower_components/angular/angular.js")></script>*@
@*<script type='text/javascript' src=@routes.Assets.at("bower/bower_components/angular-animate/angular-animate.js")></script>*@
@*<script type='text/javascript' src=@routes.Assets.at("bower/bower_components/angular-cookies/angular-cookies.js")></script>*@
@*<script type='text/javascript' src=@routes.Assets.at("bower/bower_components/angular-route/angular-route.js")></script>*@
@*<script type='text/javascript' src=@routes.Assets.at("bower/bower_components/angular-sanitize/angular-sanitize.js")></script>*@
<script type='text/javascript' src=@routes.Assets.at("bower/bower_components/angular-bootstrap/ui-bootstrap.js")></script>
@*<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.js" type="text/javascript"></script>*@
@*<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular-animate.js" type="text/javascript"></script>*@
@*<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular-route.js" type="text/javascript"></script>*@
@*<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular-touch.js" type="text/javascript"></script>*@
@*<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular-sanitize.js" type="text/javascript"></script>*@

<script type='text/javascript' src='//cdnjs.cloudflare.com/ajax/libs/angular-loading-bar/0.7.1/loading-bar.js'></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/angular-strap/2.2.4/angular-strap.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/angular-strap/2.2.4/angular-strap.tpl.js"></script>
@*<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.13.0/ui-bootstrap.min.js"></script>*@
@*<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.13.0/ui-bootstrap-tpls.min.js" ></script>*@

<script type='text/javascript' src=@routes.Assets.at("javascripts/angular-bootstrap-lightbox.min.js")></script>
    <script type='text/javascript' src=@routes.Assets.at("bower/bower_components/lodash/dist/lodash.js") ></script>
<script type='text/javascript' src=@routes.Assets.at("bower/bower_components/angular-google-maps/dist/angular-google-maps.min.js")></script>
<script type="text/javascript" src="//cdn.jsdelivr.net/momentjs/2.9.0/moment.min.js"></script>
<!-- Include Date Range Picker -->
<script type="text/javascript" src="//cdn.jsdelivr.net/bootstrap.daterangepicker/1/daterangepicker.js"></script>
<script type='text/javascript' src=@routes.Assets.at("bower/bower_components/angular-daterangepicker/js/angular-daterangepicker.min.js")></script>
    <!--    Angular controllers -->

    <script src=@routes.Assets.at("angular/app.js") ></script>
<script src=@routes.Assets.at("angular/controllers/searchhotel.js")></script>
    <script src=@routes.Assets.at("angular/controllers/hotelslist.js") ></script>
<script src=@routes.Assets.at("angular/controllers/hotelinfo.js")></script>
<script src=@routes.Assets.at("angular/controllers/roomavail.js")></script>
<script src=@routes.Assets.at("angular/controllers/bookhotel.js")></script>
<script src=@routes.Assets.at("angular/controllers/successpayment.js")></script>
