<link rel="stylesheet" href=@routes.Assets.at("template/css/bootstrap.css")>
<link rel="stylesheet" href=@routes.Assets.at("template/css/font-awesome.css")>
<link rel="stylesheet" href=@routes.Assets.at("template/css/icomoon.css")>
<link rel="stylesheet" href=@routes.Assets.at("template/css/styles.css")>
<link rel="stylesheet" href=@routes.Assets.at("template/css/mystyles.css")>
<script src=@routes.Assets.at("template/js/modernizr.js")></script>