<script src=@routes.Assets.at("template/js/jquery.js")></script>
<script src=@routes.Assets.at("template/js/bootstrap.js")></script>
<script src=@routes.Assets.at("template/js/slimmenu.js")></script>
<script src=@routes.Assets.at("template/js/bootstrap-datepicker.js")></script>
<script src=@routes.Assets.at("template/js/bootstrap-timepicker.js")></script>
<script src=@routes.Assets.at("template/js/nicescroll.js")></script>
<script src=@routes.Assets.at("template/js/dropit.js")></script>
<script src=@routes.Assets.at("template/js/ionrangeslider.js")></script>
<script src=@routes.Assets.at("template/js/icheck.js")></script>
<script src=@routes.Assets.at("template/js/fotorama.js")></script>
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&amp;sensor=false")></script>
<script src=@routes.Assets.at("template/js/typeahead.js")></script>
<script src=@routes.Assets.at("template/js/card-payment.js")></script>
<script src=@routes.Assets.at("template/js/magnific.js")></script>
<script src=@routes.Assets.at("template/js/owl-carousel.js")></script>
<script src=@routes.Assets.at("template/js/fitvids.js")></script>
<script src=@routes.Assets.at("template/js/tweet.js")></script>
<script src=@routes.Assets.at("template/js/countdown.js")></script>
<script src=@routes.Assets.at("template/js/gridrotator.js")></script>

<script src=@routes.Assets.at("template/js/switcher.js")></script>